# Bank Loan Analysis

In [7]:
# Importing necessary libraries

import pandas as pd 
import numpy as np 
import scipy as sc 


def overview(x):
    x.info()
    x.describe()
    return

Raw = pd.read_csv("Datasets/RawLoan.csv")
overview(Raw)
Raw.head(15)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2050 entries, 0 to 2049
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ApplicationDate             2050 non-null   object
 1   Age                         2050 non-null   int64
 2   AnnualIncome                2050 non-null   int64
 3   CreditScore                 2050 non-null   int64
 4   EmploymentStatus            1976 non-null   object
 5   EducationLevel              2050 non-null   object
 6   Experience                  2050 non-null   int64
 7   LoanAmount                  2050 non-null   object
 8   LoanDuration                2050 non-null   int64
 9   MaritalStatus               2050 non-null   object
 10  NumberOfDependents          1963 non-null   float64
 11  HomeOwnershipStatus         1951 non-null   object
 12  MonthlyDebtPayments         2009 non-null   float64
 13  CreditCardUtilizationRate   2050 non-null   float64
 14  NumberOfOpenCreditLines     2050 non-null   int64
 15  NumberOfCreditInquiries     2050 non-null   int64
 16  DebtToIncomeRatio           2050 non-null   float64
 17  BankruptcyHistory           2050 non-null   int64
 18  LoanPurpose                 2050 non-null   object
 19  PreviousLoanDefaults        2050 non-null   int64
 20  PaymentHistory              2050 non-null   int64
 21  LengthOfCreditHistory       2050 non-null   int64
 22  SavingsAccountBalance       2050 non-null   int64
 23  CheckingAccountBalance      2050 non-null   int64
 24  TotalAssets                 2050 non-null   int64
 25  TotalLiabilities            2050 non-null   int64
 26  MonthlyIncome               2050 non-null   float64
 27  UtilityBillsPaymentHistory  2050 non-null   float64
 28  JobTenure                   1936 non-null   float64
 29  NetWorth                    2050 non-null   int64
 30  BaseInterestRate            2050 non-null   float64
 31  InterestRate                2050 non-null   float64
 32  MonthlyLoanPayment          2050 non-null   float64
 33  TotalDebtToIncomeRatio      2050 non-null   float64
 34  RiskScore                   2050 non-null   float64
 35  LoanApproved                2050 non-null   int64
dtypes: float64(12), int64(17), object(7)
memory usage: 576.7+ KB

,ApplicationDate,Age,AnnualIncome,CreditScore,EmploymentStatus,EducationLevel,Experience,LoanAmount,LoanDuration,MaritalStatus,...,MonthlyIncome,UtilityBillsPaymentHistory,JobTenure,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,RiskScore,LoanApproved
0,2072-08-01,22,63052,631,Employed,Master,2,18271,12,Married,...,5254.333333,0.639338,3.0,1409,0.167771,0.156702,1654.893043,0.397366,51.0,0
1,2068-04-14,42,62117,522,Employed,Associate,20,29281,108,Divorced,...,5176.416667,0.835783,5.0,106328,0.313281,0.294022,774.117592,0.190888,50.0,0
2,2062-04-07,31,32448,544,Employed,Bachelor,5,33395,60,Divorced,...,2704.000000,0.879069,3.0,8626,0.266395,0.286945,1053.817922,0.531368,54.0,0
3,2031-05-29,19,32182,478,Unemployed,Master,0,49105,24,Single,...,2681.833333,0.868833,7.0,96744,0.285105,0.247245,2614.025710,1.125732,53.0,0
4,2024-04-04,45,77191,646,Employed,Master,21,99655,24,Married,...,6432.583333,0.982722,8.0,16312,0.251655,0.256010,5348.835792,0.924642,52.0,0
5,2047-04-28,33,65873,557,Employed,High School,7,19659,96,Single,...,5489.416667,0.915246,5.0,222388,0.276159,0.273136,505.756751,0.137311,49.0,0
6,2032-09-16,26,53062,541,Employed,High School,4,30742,48,Single,...,4421.833333,0.736825,5.0,6749,0.255242,0.208924,950.169902,0.317101,56.0,0
7,2037-07-26,47,99221,566,Employed,Associate,28,21627,60,Single,...,8268.416667,0.785927,3.0,154698,0.243627,0.223010,601.021712,0.135337,41.6,1
8,2066-03-18,21,15000,573,Employed,Bachelor,0,29320,96,Single,...,1250.000000,0.707809,4.0,41112,0.277820,0.275320,758.657448,1.026926,51.0,0
9,2064-04-02,28,46213,601,Employed,Associate,7,17255,84,Single,...,3851.083333,0.798075,7.0,72669,0.241755,0.210898,394.570618,0.204247,47.0,0
10,2058-01-13,37,52495,608,Employed,Master,16,23743,84,Single,...,4374.583333,0.790129,2.0,6120,0.244743,0.258276,613.594426,0.203355,53.0,0
11,2050-07-15,40,52960,563,Employed,Bachelor,17,21514,24,Single,...,4413.333333,0.593062,4.0,10069,0.215014,0.202689,1097.800036,0.339834,53.0,0
12,2054-04-07,30,15000,543,Self-Employed,Associate,6,38101,36,Single,...,1250.000000,0.782106,6.0,236044,0.251601,0.274818,1565.347013,1.716278,56.0,0
13,2039-06-15,30,56686,618,Employed,Bachelor,4,21691,48,Single,...,2361.916667,0.994754,5.0,62129,0.207691,0.220268,683.713503,0.311974,51.0,0
14,2027-01-18,53,40655,639,Employed,Bachelor,32,6896,36,Married,...,3387.916667,0.949502,NaN,34646,0.172396,0.187415,251.879545,0.381910,48.0,0